@import "../../_base.scss";

.button {
    box-sizing: border-box;
    border: none;
    height: 61px;
    width: auto;
    background-color: $eucaplyptus;
    color: $dark-purple;
    font-family: Manrope;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    display: flex;
    padding: 20px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        color: $eucaplyptus;
        background-color: $dark-purple;
        border: 2px solid $eucaplyptus;
    }

    &.secondary {
        padding: 0;
        height: auto;
        background-color: transparent;
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 3px;
        color: $white;
        text-decoration-color: $eucaplyptus;
        &:hover {
            border: none;
            color: $eucaplyptus;
        }
    }
}
