@import "../../_base.scss";

.container {
    width: 100vw;
    .header {
        padding: 60px;
        box-sizing: border-box;
        position: relative;
        height: 510px;
        .nav {
            display: flex;
            justify-content: space-between;
            padding: 0 100px;
        }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 635px;
            color: $white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 86px;

            span {
                text-decoration: underline;
                text-underline-offset: 8px;
                text-decoration-thickness: 3px;
                text-decoration-color: $eucaplyptus;
            }
            button {
                margin-top: 37px;
            }
        }
    }
    .details {
        box-sizing: border-box;
        position: relative;
        padding: 0 165px;
        .image-container {
            img {
                width: 715px;
            }
        }
        .information-container {
            margin-top: 100px;
            display: flex;
            gap: 26px;
            color: $dark-purple;
            &__element {
                display: flex;
                flex-direction: column;
                align-items: center;
                &-number {
                    height: 56px;
                    width: 56px;
                    font-family: "Fraunces";
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px solid $dark-purple;
                    margin-bottom: 56px;
                }
                &-title {
                    margin-bottom: 28px;
                }
            }
        }
    }
    .curve {
        top: 0;
        left: 0;
        z-index: -1;
        height: 760px;
        position: absolute;
        object-fit: cover;
        width: 100%;
    }
    .curve-2 {
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: -2;
        height: 980px;
        position: absolute;
        object-fit: cover;
        width: 100%;
    }
    .spiral-1 {
        position: absolute;
        top: 160px;
        left: -136px;
    }
    .spiral-2 {
        position: absolute;
        top: 320px;
        right: -48px;
    }

    @media (max-width: $bp-tablet) {
        .header {
            padding: 40px;
            height: 370px;

            .nav {
                padding: 0;
            }
            .title {
                width: 470px;
                margin-top: 58px;

                button {
                    transform: scale(0.855);
                }
            }
        }
        .details {
            padding: 0 90px;
            .image-container {
                img {
                    width: 480px;
                }
            }
            .information-container {
                margin-top: 65px;
                flex-direction: column;
                gap: 48px;
                &__element {
                    display: flex;
                    flex-direction: row;
                    .content {
                        text-align: initial;
                    }
                    &-number {
                        height: 48px;
                        width: 48px;
                        font-size: 20px;
                        margin: 0 32px 0 0;
                        flex-shrink: 0;
                    }
                    &-title {
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .curve {
            height: 540px;
        }
        .curve-2 {
            height: 930px;
        }
        .spiral-1 {
            position: absolute;
            top: 70px;
            left: -223px;
        }
        .spiral-2 {
            position: absolute;
            top: 260px;
            right: -90px;
        }
    }
    @media (max-width: $bp-mobile) {
        .header {
            padding: 37px 16px;
            height: 340px;
            .title {
                width: 100%;
                margin-top: 58px;
            }
        }
        .details {
            .image-container {
                img {
                    width: 298px;
                }
            }
        }
        .curve {
            height: 460px;
        }
        .spiral-1,
        .spiral-2 {
            display: none;
        }
    }
}
