@import "../../_base.scss";

.container {
    width: 100vw;
    .header {
        padding: 60px;
        box-sizing: border-box;
        position: relative;
        height: 473px;
        .nav {
            display: flex;
            justify-content: space-between;
            padding: 0 100px;
        }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 635px;
            color: $white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 86px;

            span {
                text-decoration: underline;
                text-underline-offset: 8px;
                text-decoration-thickness: 3px;
                text-decoration-color: $eucaplyptus;
            }
            button {
                margin-top: 37px;
            }
        }
    }
    .details {
        height: 950px;
        margin-top: -50px;
        .image-container {
            margin-top: 82px;
            img {
                width: 715px;
            }
        }
    }
    .curve {
        top: -500px;
        left: 0;
        z-index: -1;
        height: 1260px;
        position: absolute;
        object-fit: cover;
        width: 100%;
    }
    .spiral-1 {
        position: absolute;
        top: 160px;
        left: -136px;
    }
    .spiral-2 {
        position: absolute;
        top: 320px;
        right: -48px;
    }
    @media (max-width: $bp-mobile) {
        background-color: transparent;
    }
    @media (max-width: $bp-tablet) {
        .header {
            padding: 40px;
            height: 370px;

            .nav {
                padding: 0;
            }
            .title {
                width: 470px;
                margin-top: 58px;
                .heading-l {
                    font-size: 60px;
                    line-height: 60px;
                }
                button {
                    transform: scale(0.855);
                }
            }
        }
        .details {
            .image-container {
                img {
                    width: 480px;
                }
            }
        }
        .curve {
            top: 0;
            left: 0;
            z-index: -1;
            height: 540px;
            position: absolute;
            object-fit: cover;
            width: 100%;
        }
        .spiral-1 {
            position: absolute;
            top: 70px;
            left: -223px;
        }
        .spiral-2 {
            position: absolute;
            top: 260px;
            right: -90px;
        }
    }
    @media (max-width: $bp-desktop) {
        background-color: transparent;
    }
}
